body::-webkit-scrollbar {
  display: none;
}

.icon-label {
  font-size: var(--font_size_minus2);
  font-weight: 500;
  letter-spacing: normal;
  margin: 0 0 0 10px;
  line-height: 1em;
  padding: 4px 6px 3px;
  text-transform: capitalize;
  position: relative;
  top: -1px;
  border-radius: 1px;
  text-align: center;
}

.icon_sale {
  background-color: #f8b046;
  color: #ffffff;
}

.hot-box {
  position: absolute;
  top: 100%;
  transform: translateY(5px);
  left: 50%;
  transform: translateX(-50%);
}

.arrow-down {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fca5a5; /* Adjust color to match the label's background */
}

.arrow-newdown {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fde047; /* Adjust color to match the label's background */
}
.nav-item {
  position: relative;
  transition: border-bottom 0.3s ease;
}

.nav-item:hover {
  border-bottom: 2px solid #000; /* Adjust color as needed */
}

.nav-item:hover .hover-box {
  display: block;
}

.hover-box {
  display: none;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.nav-item:hover .hover-box {
  opacity: 1;
}
/* App.css */

.slider-container {
  overflow: hidden;
}

.slide img {
  width: 400px;
  height: auto;
}

.underline-effect::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 5px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.underline-effect:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.open-animation {
  transform: translateX(0%);
}

.close-animation {
  transform: translateX(100%);
}

.inputLine:focus {
  border: 1px solid #dc6ace;
  box-shadow: 0 0 3px #dc6ace;
  outline-offset: 0px;
  outline: none;
}

.selectItems::-webkit-scrollbar {
  display: none;
}
